body{
    background-color: #c71585;
    background-image: url(foto/sma.jpg);
    background-repeat: repeat-x;
}
.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: #C71585;
}
.container{
    padding: 5px;
}
table{
    margin: 5px;
}
table td{
    padding: 5px;
}
button{
    width: 50px;
    font-family: comic sans ms;
    height: 30px;
    background-color: #00ced1;
    background-radius: 7px;
}